@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h3 class="text-danger">Access denied</h3>
    @* <p class="text-danger">You do not have access to this resource.</p> *@
    <p class="text-danger">You do not have access to this page.</p>
</header>
