@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>
<p>
	Please check your email to reset your password.
</p>
@if (ResetUri is not null)
{
	<a href="@ResetUri" class="btn btn-success">Go To Reset Password Link >> </a>
}

@code {

	[SupplyParameterFromQuery]
	public string ResetUri { get; set; }
}