@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "SuperAdmin")]
@rendermode InteractiveAuto

<PageTitle>Mercola Health - Admin Panel - Secure Page</PageTitle>

<div style="text-align: center;">
    <img src="/images/Mercola-logo-black-font.svg" alt="mercola logo" width="150" height="80" />
    <br />
    <span style="color: firebrick; font-weight: bold; font-style: italic;">Super Admin Only</span>
</div>



@* <br />
<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView> *@
