@page "/editcontent"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Editor")]
@rendermode InteractiveAuto

<PageTitle>Mercola Health - Admin Panel - Edit Content</PageTitle>

<div style="text-align: center;">
    <img src="/images/Mercola-logo-black-font.svg" alt="mercola logo" width="150" height="80" />
    <br />
    <span style="color: firebrick;">Edit Content</span>
</div>


@code {

}


