@page "/onboarding"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Mercola Health - Onboarding</PageTitle>

<div style="text-align: center;">
    <img src="/images/Mercola-logo-black-font.svg" alt="mercola logo" width="150" height="80" />
    <br />
    <span style="color: firebrick;">Onboarding</span>
</div>


@code {

}

