@page "/usermanager"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "SuperAdmin")]
@rendermode InteractiveAuto

<PageTitle>Mercola Health - User Manager</PageTitle>

<div style="text-align: center;">
    <img src="/images/Mercola-logo-black-font.svg" alt="mercola logo" width="150" height="80" />
    <br />
    <span style="color: firebrick;">User Management</span>
</div>


@code {

}
